*/.gradle
*/.gradlew
*/.metadata
*/.settings

*/*/bin
*/*/bin_test
*/*/build
*/*/enroute.zip
*/*/generated
*/*/reports
*/*/target
*/*/*/target

*.iml
*.ipr
*.iws
.idea/
atlassian-ide-plugin.xml
bndtools/*/.gitignore
bndtools/*/*/.gitignore
bndtools/cnf/cache/