*/.gradle
*/.gradlew
*/.metadata
*/.settings

*/bin
*/bin_test
*/enroute.zip
*/generated
*/reports
*/target

*.iml
*.ipr
*.iws
.idea/
atlassian-ide-plugin.xml
bndtools/*/.gitignore
bndtools/*/*/.gitignore
bndtools/cnf/cache/wrapper/lock